
.pageWrapper {
  max-width: 1080px;
  margin: 2.5rem auto;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1.5rem 2rem;

    .indexControls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .displayOptions {
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: var(--shadow-moderate);
        border-radius: var(--border-radius);

        button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          border: 1px solid var(--color-gray-dark);
          border-radius: var(--border-radius);
          background: var(--color-gray-light);
          padding: 0.4rem;

          color: var(--color-gray-darker);
          font-size: 1.2rem;
          font-weight: 500;

          transition: filter 200ms;

          &:hover {
            filter: brightness(0.9);

            &::after {
              position: absolute;
              bottom: 2.4rem;

              opacity: 0.7;
              border-radius: var(--border-radius);
              background:var(--color-br-green);
              padding: 0.3rem 0.4rem;

              color: var(--color-white);
              font-size: 0.75rem;
              white-space: nowrap;
            }
          }

          &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &:hover::after {
              content: 'Layout de Grade'
            }
          }

          &:last-child {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover::after {
              content: 'Layout de Lista'
            }
          }

          &.active {
            background: var(--color-gray-dark);
            cursor: default;
          }
        }
      }

      a {
        display: flex;
        align-items: center;

        box-shadow: var(--shadow-moderate);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--color-br-golden);
        padding: 0.4rem 0.75rem;

        color: var(--color-white);
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;

        transition: filter 200ms;

        &:hover {
          filter: brightness(0.92);
        }

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
