
:root {
  --color-br-golden: rgb(208, 178, 126);
  --color-br-green: rgb(0, 71, 81);
  --color-text-base: #555;
  --color-background: #f0f0f7;
  --color-gray-darker: #494D4B;
  --color-gray-dark: #808080;
  --color-gray: #AFB2B1;
  --color-gray-light: #E6E8EB;
  --color-gray-lighter: #F7F8FA;
  --color-white: #fff;

  --shadow-light: 18px 26px 36px rgba(23, 142, 166, 0.15);
  --shadow-moderate: 12px 20px 28px rgba(12, 84, 98, 0.35);
  --shadow-heavy: 8px 14px 20px rgba(0, 46, 53, 0.5);

  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #__next {
  height: 100vh;
}

body {
  background: var(--color-background);

  color: var(--color-text-base);
  font-family: Inter, sans-serif;
}

body, input, textarea, button {
  font: 400 1rem Inter, sans-serif;
}

a, button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
