
:root {
  --color-background: #f0f0f7;
  --color-text-base: #666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #__next {
  height: 100vh;
}

body {
  background: var(--color-background);

  color: var(--color-text-base);
  font-family: Inter, sans-serif;
}

body, input, textarea, button {
  font: 400 1rem Inter, sans-serif;
}

a, button {
  cursor: pointer;
}

#__next {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
